<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Авторизация</title>
</head>
<body>
<form class="form" action="#" method="post" th:object="${user}" th:action="@{/login}">
    <input class="input" type="text" placeholder="Ваше имя" th:field="*{username}">
    <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Error</div>


    <input class="input" type="password" placeholder="Пароль" th:field="*{password}">
    <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Error</div>


    <button class="btn" type="submit">Войти</button>

</form>
</body>
</html>