<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
</head>
<body>
<p th:if="${registrationError}" class="error">Wrong user or password</p>
<form class="form" action="#" method="post" th:object="${userForm}" th:action="@{/registration}">
    <input class="input" type="text" placeholder="Ваше имя" th:field="*{username}" name="username">

    <input class="input" type="password" placeholder="Пароль" th:field="*{password}" name="password">
    <input class="input" type="password" placeholder="Пароль еще раз" th:field="*{passwordConfirm}" name="passwordConfirm">

    <div th:if="${#fields.hasAnyErrors()}">
        <ul>
            <li th:each="err : ${#fields.allErrors()}" th:text="${err}" />
        </ul>
    </div>
    <button class="btn" type="submit">Регистрация</button>

</form>
</body>
</html>